</div><!-- page-wrap -->
<footer><small><a href="{{ site.url_atelier }}">{{ site.org }}</a> &middot; <a href="{{ site.url_license }}">&copy; {{ site.year_old}} - {{ site.year_new }}</a></small></footer>
