<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">

    {% if page.page_type == index %}
    <h2 class="f2 b lh-title mb3">Latest stories</h1>
    {% endif %}

    <div class="w-100 flex-ns mhn1-ns flex-wrap mb3">

      {% for post in page.pagination.items %}
      <div class="ph1-ns w-50-ns flex">
        <a href="{{ site.url }}/blog/{{ post.slug }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100"><h2 class="f3 b lh-title mb1 primary">{{ post.title }}</h2>
          <p class="mid-gray lh-title mb2"><time datetime="{{ post.date_machine|replace({'_':'-'}) }}">{{ post.date_human }}</time></p>
          <p class="mb0">{% if post.description %}{{ post.description|raw }}
          {% else %}
          {{ post.blocks.content|raw|striptags|split(' ')|slice(0,30)|join(' ') }} &hellip;
          {% endif %}</p>
          <p class="link b dib black mb0">Read more →</p></a>

      </div>
      {% endfor %}

    </div>
  </div>

  <div class="tc">
    <a href="/blog" class="btn raise">Read more</a>
  </div>

</div>



