<div class="w-33-ns ph2">
  <div class="ph2">

    <!-- Title -->
    <h3 class="b f5 grey-3 tc lh-title mb3">{{ page.pricing.plans.plan1 }}</h3>

    <!-- Price -->
    <p class="primary f1 b tc lh-title center">
    <span class="f4">$</span>{{ page.pricing.plans.price1 }}
    </p>

    <!-- Description -->
    <p class="b">{{ page.pricing.plans.description1 }}</p>

    <!-- Features -->
    <ul>
      <li>
        <p class="pb2 mb2 divider-grey">{{ page.pricing.plans.items1.item_a }}</p>
      </li>
      <li>
        <p class="pb2 mb2 divider-grey">{{ page.pricing.plans.items1.item_b }}</p>
      </li>
      <li>
        <p>{{ page.pricing.plans.items1.item_c }}</p>
      </li>
    </ul>

  </div>
</div>

<div class="w-33-ns ph2">
  <div class="ph2">

    <!-- Title -->
    <h3 class="b f5 grey-3 tc lh-title mb3">{{ page.pricing.plans.plan2 }}</h3>

    <!-- Price -->
    <p class="primary f1 b tc lh-title center">
    <span class="f4">$</span>{{ page.pricing.plans.price2 }}
    </p>

    <!-- Description -->
    <p class="b">{{ page.pricing.plans.description2 }}</p>

    <!-- Features -->
    <ul>
      <li>
        <p class="pb2 mb2 divider-grey">{{ page.pricing.plans.items2.item_a }}</p>
      </li>
      <li>
        <p class="pb2 mb2 divider-grey">{{ page.pricing.plans.items2.item_b }}</p>
      </li>
      <li>
        <p>{{ page.pricing.plans.items3.item_c }}</p>
      </li>
    </ul>

  </div>
</div>

<div class="w-33-ns ph2">
  <div class="ph2">

    <!-- Title -->
    <h3 class="b f5 grey-3 tc lh-title mb3">{{ page.pricing.plans.plan3 }}</h3>

    <!-- Price -->
    <p class="primary f1 b tc lh-title center">
    <span class="f4">$</span>{{ page.pricing.plans.price3 }}
    </p>

    <!-- Description -->
    <p class="b">{{ page.pricing.plans.description3 }}</p>

    <!-- Features -->
    <ul>
      <li>
        <p class="pb2 mb2 divider-grey">{{ page.pricing.plans.items3.item_a }}</p>
      </li>
      <li>
        <p class="pb2 mb2 divider-grey">{{ page.pricing.plans.items3.item_b }}</p>
      </li>
      <li>
        <p>{{ page.pricing.plans.items3.item_c }}</p>
      </li>
    </ul>

  </div>
</div>
